- title "Asset"
%p
  %strong User:
  = @asset.user_id
%p
  = link_to "Edit", edit_asset_path(@asset)
  |
  \#{link_to "Destroy", @asset, :confirm => 'Are you sure?', :method => :delete} |
  \#{link_to "View All", assets_path}
